# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Logs and Data
logs/
*.log
boards.json

# Images
*.png
*.jpg
*.jpeg
